html {
  background: url(../ui/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.prof-box{
  height: 450px;
  width: 400px;
  background: rgba(0,0,0,0.3);
  padding: 40px;
  color: white;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.prof-pic{
  border-radius: 50%;
  height: 200px;
  width: 200px;

}
h1{
    font-weight: 100;
    color: white;
    font-family: cursive;
}
h5{
  font-family: sans-serif;
}
p{
  font-family: cursive;
}
.social-icons{
  font-size: 30px;
}
.social-icons a{
  color: white;
}
.line-break{
  width: 350px;
  border-top: 1px solid white;
  margin: 0 auto;
}
.resume img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  float: right;
  margin-top: 70px;
  margin-right: 80px;
}
.resume a{
  font-family: sans-serif;
  color: white;
  float: right;
  margin-top: 120px;
  margin-right: 10px;

}
